// $typefaces
// Configuration of webfonts imports.
// $typefaces - {map}
// @family - {string}
// @weight - {integer} or {keyword} i.e. 800, bold
// @style - {keyword} i.e. normal, italic

@font-face {
  font-family: 'MarkOTBook';
  src: url('../../assets/fonts/FontFontMarkOTBook.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/FontFontMarkOTBook.woff') format('woff'),
    url('../../assets/fonts/FontFontMarkOTBook.ttf') format('truetype'),
    url('../../assets/fonts/FontFontMarkOTBook.svg#FontFontMarkOTBook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MarkOTMedium';
  src: url('../../assets/fonts/FontFontMarkOTMedium.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/FontFontMarkOTMedium.woff') format('woff'),
    url('../../assets/fonts/FontFontMarkOTMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MarkOTBold';
  src: url('../../assets/fonts/FontFontMarkOTBold.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/FontFontMarkOTBold.woff') format('woff'),
    url('../../assets/fonts/FontFontMarkOTBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
